.contact-cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 20px;
	padding-bottom: 10px;
}
.card {
	background-color: white;
	border-radius: 10px;
	width: 28vw;
	min-width: 200px;
	text-align: center;
	padding: 40px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	max-width: 300px;
}
.card-icon {
	height: 20px;
	width: 20px;
}
.card-section-divider {
	border-color: #64a19d;
	border-width: 2px;
	width: 3rem;
	margin: 1.5rem auto;
	border-style: solid;
}

.card-section-details {
	color: $color-font-mid;
	font-size: 80%;
}

@media screen and (max-width: 900px) {
	.card {
		width: 90vw;
		max-width: 500px;
	}
	.contact-cards {
		flex-direction: column;
		align-items: center;
	}
}
