nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 1.2rem;
	color: $color-text-light;
	position: fixed;
	width: 100vw;
	height: 50px;
	z-index: 999;
	transition: background-color 1s ease;
}

.scrolledNav {
	background-color: $color-nav-active;
	transition: background-color 1s ease;
}

.nav-items {
	height: 25px;
	list-style: none;
	font-size: 1rem;
	display: flex;
	width: 85vw;
	max-width: 1920px;
	justify-content: flex-end;
	margin-right: 2rem;
}

.nav-item {
	margin: 0 20px;
	text-decoration: none;

	a {
		color: $color-font-light;
    text-decoration: none;
	}
}

.nav-footer{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	.icon-circle {
		height: 50px;
		width: 50px;
	}
}

.nav-item:hover {
	cursor: pointer;
}

.nav-brand {
	justify-self: start;
	margin-left: 20px;
}

.nav-toggler {
	display: none;
}

.nav-toggler > div[class^='nav-toggler-line'] {
	width: 30px;
	height: 2px;
	background-color: $color-text-light;
	margin: 5px;
}

// Mobile, Ipad, and small width screens
@media screen and (max-width: 900px) {
	body {
		overflow-x: hidden;
		overscroll-behavior: none;
	}

	nav {
		justify-content: flex-start;
		animation: all 1.5s ease;
	}

	nav.active {
		background-color: $color-nav-active;
		animation: all 2s linear;
	}

	.nav-items {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		width: 100vw;
		position: absolute;
		right: 0px;
		height: calc(var(--viewport-height) - 48px);
		top: 50px;
		margin-right: 0px;
		transform: translateX(-100%);
		transition: all 0.5s ease;
		z-index: 1;
		background-color: #161616;
	}

	.nav-items.active {
		transform: translateX(0%);
		transition: all 0.5s ease;
	}

	.nav-item {
		text-align: center;
		width: 100%;
		font-size: 1.5em;
		opacity: 0;
		height: 100%;

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
	}

	.nav-toggler {
		display: block;
		position: absolute;
		top: 11px;
		right: 9px;

		transition: all 0.5s ease;
		.nav-toggler-line1 {
			transition: all 0.5s ease;
		}
		.nav-toggler-line2 {
			transform: scale(1);
			transition: all 0.5s ease;
		}
		.nav-toggler-line3 {
			transition: all 0.5s ease;
		}
	}

	.nav-toggler.active {
		transition: all 0.5s ease;
		.nav-toggler-line1 {
			transform: rotate(135deg) translate(4px, -8px);
			transition: all 0.5s ease;
		}
		.nav-toggler-line2 {
			transform: scale(0);
			transition: all 0.5s ease;
		}
		.nav-toggler-line3 {
			transform: rotate(-135deg) translate(2px, 6px);
			transition: all 0.5s ease;
		}
	}
}



@media screen and (min-width: 900px){
	.nav-footer{
		display: none;
	}
}
