.section-header {
	font-size: calc(1.325rem + 0.9vw);
	color: $color-font-light;
	font-weight: 300;
  padding-bottom: 10px;
}

.section-container {
	width: calc(100vw - 110px);
  max-width: 980px;
	margin: 0 auto;
  padding-bottom: 100px;
}

.section-container-wide {
	width: calc(100vw - 110px);
  max-width: 1920px;
	margin: 0 auto;
  padding-bottom: 100px;
}


.section-content{
  font-size: 1rem;
  color: $color-font-light;

}

// About
#about {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
	.section-container {
		width: calc(100vw - 40px);
	}
}
