.section-header {
	font-size: calc(1.325rem + 0.9vw);
	color: $color-font-light;
	font-weight: 300;
  padding-bottom: 10px;
	letter-spacing: .25rem;
}

.section-container {
	width: calc(100vw - 110px);
  max-width: 980px;
	margin: 0 auto;
  padding-bottom: 70px;
}

.section-container-wide {
	width: calc(100vw - 110px);
  max-width: 1920px;
	margin: 0 auto;
}


.section-content{
  font-size: 1rem;
  color: $color-font-light;
}

.section-intro{
	padding-bottom: 5px;
}

// About
#about {
  display: flex;
  flex-direction: column;

	p {
		padding: 5px 0;
		line-height: 1.25rem;
	}
	p:last-child{
		padding-bottom: 0px;
	}
}

@media screen and (max-width: 900px) {
	.section-container {
		width: calc(100vw - 40px);
	}
}
