$color-title: lighten(#333, 75);
$color-container-border: #333;
$color-pb-bar-progress: rgb(100, 161, 157);


.pb-container {
  margin: 10px 0;
}
.pb-title {
	color: $color-title;
  margin-bottom: 5px;
}

.pb-bar {
	border: 1px solid $color-container-border;
	height: 12px;
	overflow: hidden;
}

.pb-bar-progress {
	background-color: $color-pb-bar-progress;
	height: 100%;
  // transform: translateX(-100%);
}

.pb-animate{
  animation: progressBarIn 1s ease forwards;
}

@keyframes progressBarIn {
	0% {
    transform: translateX(-100%);
	}
	100% {
    transform: translateX(0%);
	}
}
